In [129]:
import pandas as pd
from pycaret.classification import *
from sklearn.ensemble import IsolationForest

In [168]:
inputs = 'inputs'
outputs = 'outputs'

train = pd.read_csv(inputs + '/train.csv')
test = pd.read_csv(inputs + '/test.csv')
submission = pd.read_csv(outputs + '/sample_submission.csv')

In [169]:
train

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,engnat,age,hand,religion,orientation,voted,married,familysize,ASD,nerdiness
0,0,1.0,5.0,5.0,5.0,1.0,4.0,5.0,5.0,1.0,...,1.0,20,2.0,12.0,4.0,2.0,1.0,4.0,2.0,1
1,1,4.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,3.0,...,1.0,49,1.0,2.0,1.0,1.0,2.0,4.0,2.0,1
2,2,4.0,5.0,5.0,4.0,3.0,5.0,5.0,5.0,4.0,...,2.0,43,1.0,2.0,2.0,2.0,3.0,4.0,2.0,1
3,3,4.0,4.0,4.0,2.0,4.0,3.0,3.0,5.0,3.0,...,1.0,17,2.0,1.0,1.0,2.0,1.0,2.0,2.0,1
4,4,4.0,4.0,4.0,4.0,3.0,3.0,4.0,2.0,3.0,...,2.0,18,2.0,12.0,1.0,2.0,1.0,1.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,14995,2.0,5.0,4.0,3.0,3.0,4.0,4.0,4.0,3.0,...,1.0,17,1.0,1.0,3.0,2.0,1.0,3.0,2.0,0
14996,14996,5.0,4.0,5.0,4.0,4.0,5.0,5.0,4.0,4.0,...,2.0,45,1.0,3.0,1.0,1.0,2.0,3.0,2.0,1
14997,14997,4.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,4.0,...,1.0,20,1.0,1.0,2.0,1.0,1.0,3.0,1.0,1
14998,14998,5.0,5.0,4.0,5.0,5.0,5.0,5.0,1.0,5.0,...,1.0,29,1.0,12.0,4.0,2.0,2.0,2.0,1.0,0
14999,14999,5.0,4.0,2.0,5.0,2.0,2.0,4.0,2.0,4.0,...,2.0,21,1.0,2.0,2.0,2.0,1.0,1.0,2.0,1

In [174]:
train.describe()

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,engnat,age,hand,religion,orientation,voted,married,familysize,ASD,nerdiness
count,15000.000000,14959.000000,14931.000000,14950.000000,14929.000000,14962.000000,14952.000000,14924.000000,14952.000000,14944.000000,...,14953.000000,15000.000000,14953.000000,14755.000000,14601.000000,14915.000000,14918.000000,14681.000000,14911.000000,15000.000000
mean,7499.500000,3.972859,4.065702,4.222809,3.795499,3.856503,3.676364,4.183262,3.879013,3.915418,...,1.346018,24.045467,1.185113,4.098340,1.847956,1.633121,1.179917,2.534092,1.938703,0.553533
std,4330.271354,1.095914,1.169681,1.023335,1.219940,1.195622,1.170986,1.059756,1.302081,1.117625,...,0.475715,10.783195,0.481993,3.425699,1.223191,0.481969,0.465985,1.261924,0.239882,0.497142
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,13.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,3749.750000,3.000000,4.000000,4.000000,3.000000,3.000000,3.000000,4.000000,3.000000,3.000000,...,1.000000,17.000000,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,0.000000
50%,7499.500000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,...,1.000000,20.000000,1.000000,2.000000,1.000000,2.000000,1.000000,2.000000,2.000000,1.000000
75%,11249.250000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,2.000000,27.000000,1.000000,6.000000,2.000000,2.000000,1.000000,3.000000,2.000000,1.000000
max,14999.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,2.000000,100.000000,3.000000,12.000000,5.000000,2.000000,3.000000,13.000000,2.000000,1.000000

In [171]:
def normalize_out(dataframe, remove_col):
    dff = dataframe
    for k in remove_col:
        level_1q = dff[k].quantile(0.1)
        level_3q = dff[k].quantile(0.9)
        IQR = level_3q - level_1q
        rev_range = 3  # 제거 범위 조절 변수
        dff[k][(dff[k] > level_3q + (rev_range * IQR))] = level_3q
        dff[k][(dff[k] < level_1q - (rev_range * IQR))] = level_1q
    return dff

train = normalize_out(train, ['introelapse', 'testelapse', 'surveyelapse', 'age', 'familysize'])
test = normalize_out(test, ['introelapse', 'testelapse', 'surveyelapse', 'age', 'familysize'])

In [172]:
test

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,gender,engnat,age,hand,religion,orientation,voted,married,familysize,ASD
0,0,4.0,4.0,3.0,5.0,5.0,5.0,3.0,5.0,4.0,...,2.0,2.0,19,1.0,4.0,4.0,1.0,1.0,3.0,2.0
1,1,4.0,5.0,4.0,4.0,5.0,4.0,5.0,5.0,5.0,...,1.0,1.0,33,1.0,1.0,5.0,2.0,1.0,5.0,2.0
2,2,5.0,5.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,...,2.0,2.0,13,1.0,4.0,5.0,2.0,1.0,3.0,2.0
3,3,5.0,4.0,3.0,4.0,5.0,4.0,5.0,4.0,4.0,...,1.0,1.0,28,1.0,2.0,2.0,2.0,1.0,3.0,2.0
4,4,5.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,5.0,...,2.0,2.0,15,1.0,4.0,5.0,2.0,1.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35447,35447,4.0,5.0,5.0,3.0,3.0,4.0,5.0,5.0,4.0,...,2.0,2.0,16,3.0,10.0,4.0,2.0,1.0,3.0,2.0
35448,35448,5.0,5.0,5.0,5.0,5.0,4.0,5.0,3.0,5.0,...,3.0,1.0,16,3.0,2.0,5.0,2.0,1.0,2.0,2.0
35449,35449,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,1.0,1.0,31,1.0,1.0,5.0,1.0,1.0,2.0,2.0
35450,35450,5.0,5.0,4.0,5.0,5.0,1.0,5.0,1.0,5.0,...,1.0,1.0,19,1.0,12.0,1.0,2.0,1.0,NaN,2.0
35451,35451,5.0,5.0,4.0,5.0,2.0,4.0,3.0,5.0,4.0,...,2.0,1.0,14,2.0,NaN,2.0,2.0,1.0,1.0,2.0

In [173]:
test.describe()

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,gender,engnat,age,hand,religion,orientation,voted,married,familysize,ASD
count,35452.000000,35333.000000,35305.000000,35322.000000,35327.000000,35362.000000,35320.000000,35310.000000,35344.000000,35348.000000,...,35383.000000,35333.000000,35452.000000,35331.000000,34969.000000,34629.000000,35271.000000,35272.000000,34749.000000,35215.000000
mean,17725.500000,3.978604,4.073389,4.234670,3.807258,3.873452,3.699122,4.192722,3.888043,3.939572,...,1.709889,1.339513,23.974444,1.187767,4.123910,1.848046,1.635848,1.172715,2.525857,1.937129
std,10234.255208,1.090310,1.172505,1.016355,1.211261,1.181533,1.170549,1.060672,1.305542,1.109999,...,0.559122,0.473551,10.757749,0.488485,3.442488,1.228587,0.481198,0.457109,1.270849,0.242734
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,13.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,8862.750000,3.000000,4.000000,4.000000,3.000000,3.000000,3.000000,4.000000,3.000000,3.000000,...,1.000000,1.000000,17.000000,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000
50%,17725.500000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,...,2.000000,1.000000,20.000000,1.000000,2.000000,1.000000,2.000000,1.000000,2.000000,2.000000
75%,26588.250000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,2.000000,2.000000,27.000000,1.000000,6.000000,2.000000,2.000000,1.000000,3.000000,2.000000
max,35451.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,3.000000,2.000000,100.000000,3.000000,12.000000,5.000000,2.000000,3.000000,13.000000,2.000000

In [161]:
submission

       index  nerdiness
0          0          0
1          1          1
2          2          1
3          3          1
4          4          1
...      ...        ...
35447  35447          1
35448  35448          1
35449  35449          1
35450  35450          1
35451  35451          1

[35452 rows x 2 columns]

In [175]:
clf = setup(data=train, target='nerdiness')

In [176]:
best_2 = compare_models(sort='AUC', n_select=2)

In [164]:
blended = blend_models(estimator_list=best_2, fold=5, method='soft')

In [165]:
final_model = finalize_model(blended)

In [166]:
predictions = predict_model(final_model, test, raw_score=True)
predictions

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,hand,religion,orientation,voted,married,familysize,ASD,Label,Score_0,Score_1
0,0,4.0,4.0,3.0,5.0,5.0,5.0,3.0,5.0,4.0,...,1.0,4.0,4.0,1.0,1.0,3.0,2.0,0,0.890,0.110
1,1,4.0,5.0,4.0,4.0,5.0,4.0,5.0,5.0,5.0,...,1.0,1.0,5.0,2.0,1.0,5.0,2.0,1,0.235,0.765
2,2,5.0,5.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,...,1.0,4.0,5.0,2.0,1.0,3.0,2.0,1,0.205,0.795
3,3,5.0,4.0,3.0,4.0,5.0,4.0,5.0,4.0,4.0,...,1.0,2.0,2.0,2.0,1.0,3.0,2.0,1,0.435,0.565
4,4,5.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,5.0,...,1.0,4.0,5.0,2.0,1.0,2.0,2.0,1,0.105,0.895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35447,35447,4.0,5.0,5.0,3.0,3.0,4.0,5.0,5.0,4.0,...,3.0,10.0,4.0,2.0,1.0,3.0,2.0,1,0.135,0.865
35448,35448,5.0,5.0,5.0,5.0,5.0,4.0,5.0,3.0,5.0,...,3.0,2.0,5.0,2.0,1.0,2.0,2.0,1,0.225,0.775
35449,35449,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,1.0,1.0,5.0,1.0,1.0,2.0,2.0,1,0.055,0.945
35450,35450,5.0,5.0,4.0,5.0,5.0,1.0,5.0,1.0,5.0,...,1.0,12.0,1.0,2.0,1.0,NaN,2.0,1,0.320,0.680
35451,35451,5.0,5.0,4.0,5.0,2.0,4.0,3.0,5.0,4.0,...,2.0,NaN,2.0,2.0,1.0,1.0,2.0,1,0.370,0.630

In [167]:
submission['nerdiness'] = predictions['Label']
submission

       index  nerdiness
0          0          0
1          1          1
2          2          1
3          3          1
4          4          1
...      ...        ...
35447  35447          1
35448  35448          1
35449  35449          1
35450  35450          1
35451  35451          1

[35452 rows x 2 columns]

In [156]:
submission.to_csv(outputs + '/pycaret_submission.csv', index=False)